* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Edu TAS Beginner', cursive;

  font-family: 'Montserrat', sans-serif;
  color: white;

}






html,
body {
  scroll-behavior: smooth;

  height: 100%;
  width: 100%;
  background-color: black;

}


body {
  overflow-x: hidden;
}

.nav {
  position: fixed;
  width: 100vw;
  display: flex;
  height: 15%;
  background-color: black;
  justify-content: space-between;
  border-bottom: 2px #dadada solid;
  top: 0;
  z-index: 1;
}

.nav i {
  font-size: 1.2vw;
  font-weight: 800;
  display: none;

}


.nav h2 {
  display: inline-block;
  font-size: 15vh;
  font-family: 'Noto Serif Devanagari', serif;
  padding: 0 20px;

}

.nav-part2 {
  display: flex;
  align-items: center;
}

.nav-part3 {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

a {
  list-style: none;
  margin: 0 10px;
  background-color: black;
  font-size: 2vmax;
  text-decoration: none;
}

#page1 {
  margin-top: 7%;
  height: 90%;

  width: 100%;
  background-color: black;
  opacity: 1;
}

#page1 img {
  height: 115vh;


}


.container {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  height: 100%;
  z-index: 1;
}

.container img {
  transform: translateY(-78%);

}


.para {
  font-size: 33.00330033003301vh;
  display: flex;

  overflow: hidden;
  transform: translateY(-10%);
  opacity: 1;

}

h1 {
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: white;
  white-space: nowrap;
  letter-spacing: 1px;

  animation: move-rtl 10000ms linear infinite;

}

@keyframes move-rtl {
  0% {
    transform: translateX(0);

  }

  100% {
    transform: translateX(-100%);
  }
}

#page2 {
  border-top: 2px #dadada solid;
  height: 100%;
  width: 100%;

  background-color: black;
  z-index: 2;
  border-bottom: 2px #dadada solid;
  margin-top: 3.3003300330033003vh;

}


.heading {
  height: 20%;
  font-size: 8.250825082508252vh;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  margin-top: 13.201320132013201vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


#page2 .content img {
  height: 25.00660066006601vmax;
  border-radius: 6.600660066006601vh;

  padding: 4.9504950495049505vh;
  margin-left: 3.3003300330033003vh;
  transform: translateY(-20%);

}

#page2 .content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text {

  margin: 0 4.9504950495049505vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text h2 {
  transform: translateY(-100%);
}

#page2 p {
  margin-right: 8.250825082508252vh;
}

.content {
  display: flex;
  justify-content: center;
}


#page3 {
  height: 100vh;
  margin-bottom: 3.3003300330033003vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px solid gray
}

.boxes {
  height: 70%;
  display: flex;
  gap: 4.9504950495049505vh;
  font-size: 1.502640264026402vmax;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-evenly;
  width: 100%;

}



.box {

  height: 49.504950495049506vh;
  width: 400px;
  border: 2px white solid;
  transition: 0.3s ease-in;
  transform-style: preserve-3d;
  text-align: center;
}


.box2 {
  scale: 1.1;

}

.inner-text {
  transition: 0.3s ease-in;

}

.box:hover .inner-text {
  color: black;

}

.box:hover {
  background-color: white;
  color: black;
  scale: 1.05;
  font-size: 3.3003300330033003vh;


  /* Apply transformation on hover */

}

.box2:hover {
  scale: 1.15;
}

i {

  margin: 3.3003300330033003vh;
  font-size: 16.501650165016503vh;
  transition: 0.3s ease-in;

}

.box:hover i {
  color: black;
  font-size: 18.151815181518153vh;


}

.inner-text {
  font-size: 4.125412541254126vh;
  font-weight: 165.01650165016503vh;
}



.inner {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  flex-direction: column
}

#page4 {
  height: 100%;
  width: 100%;
}

#contactme {
  background-color: red;
}


.contact .right form .fields {
  display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
  height: 7.425742574257426vh;
  width: 100%;
  margin-bottom: 2.4752475247524752vh;
}

.contact .right form .textarea {
  height: 13.201320132013201vh;
  width: 100%;
}

.contact .right form .name {
  margin-right: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 2.8052805280528053vh;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #b3b3b3;
}

.contact .right form .textarea textarea {
  padding-top: 1.6501650165016502vh;
  resize: none;
}


input,
textarea {
  margin: 5px;
  width: 250px;
}

.fields {
  display: flex;
}

.messages {
  font-size: 3.3003300330033003vh;

}

@media(max-width:1250px) {
  #page3 {
    height: 150%;
  }

  .body {
    overflow-x: hidden;
  }
}

@media(max-height:80vh) {
  body {
    visibility: hidden;
  }
}

@media(max-width:868px) {
  p {
    font-size: 1.9801980198019802vw;
    margin: 0px
  }

  .body {
    overflow-x: hidden;
  }

  .container img {
    display: none;
  }

  h1 {
    font-size: 20.00330033003301vh;
    margin: 33.00330033003301vh 0;
  }




  #page2 p {
    margin-right: 0px;

  }



  .messages,
  .messages>p {
    display: none;
    height: 0%;
    font-size: 0;
    visibility: hidden;
    width: 0%;
  }

  .heading {
    height: 20%;
    font-size: 6.600660066006601vh;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  #page2 .content img {
    height: 49.504950495049506vh;
  }


  #page3 {
    height: 205%
  }

  #page3 .boxes {
    margin-top: -16.501650165016503vh
  }
}




@media(max-width:500px) {

  .body {
    overflow-x: hidden;
  }

  p {
    font-size: 2.801980198019802vw;

  }

  h2 {
    font-size: 2vmax;
  }

  #page2 {
    margin: 0px;
    margin-top: 0px;

  }


  #page2 .content img {
    height: 35.00330033003301vh;
    border-radius: 20px;

    padding: 0px;
    margin-left: 0px;
    transform: translateY(0%);

  }
}


.column-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}


.messages {
  word-spacing: 2px;
  display: flex;
  gap: 10px;
  flex-direction: column;


}

.messages>h3,
h4 {
  margin: 0 20px;
}

.messages>h2 {
  margin-bottom: 20px;

}

.button-area>button {
  transform: translateX(5%);
  transition: 0.3s;
  height: 5.775577557755776vh;
  background-color: white;
  border-radius: 5px;
  border: none;
  padding: 5px 20px;
  color: black;
  font-size: 3.3003300330033003vh;
  display: flex;
  align-items: center;
}

.button-area>button:hover {
  scale: 1.07;
  color: white;
  background-color: black;
  border: 2px solid white;
  padding: 0px 18px;
  font-weight: 165.01650165016503vh;
}


footer {
  background-color: rgb(255, 255, 255);
  height: 3vmax;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: inherit;
  bottom: 0;
  width: 100%;
  font-size: 3.3003300330033003vh;

}


@media(max-width:200px) {

  .body {
    overflow-x: hidden;
  }
}

@media (max-width:680px) {
  .nav {
    color: white;
  }


  .nav a {
    font-size: 3vw;
    display: none;
  }

  .nav i {
    display: block;
    font-size: 6vw;


  }

}